@using React.AspNet
<!DOCTYPE html>
<html>
<head>
	@Html.Raw(ViewBag.HelmetTitle)
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/index.css" />
	<link rel="icon" type="image/x-icon" href="~/favicon.ico">
	@Html.Raw(ViewBag.ServerStyles)
	@Html.ReactGetStylePaths()
</head>
<body>
	@RenderBody()
	@Html.ReactGetScriptPaths()
	@Html.ReactInitJavaScript()
</body>
</html>
